@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.flex-child {
  flex-basis: 50%;
  width: 50%;
  overflow: hidden
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hidden-image {
  display: none;
}

.text-container {
  padding: 1rem;
  position: relative;
}

.text-container > * {
  padding: 1rem 0.5rem;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.title {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.new-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
}

.old-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  padding: 1rem 0;
  width: 100%;
  color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.button:hover {
  background-color: hsl(158, 38%, 17%);
}

.attribution {
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
